langchain-openai
langchain
langchain-community
langchain_huggingface
sentence-transformers
torch
transformers
langchain-qdrant
pdfplumber
fastapi
langgraph
langchain-qdrant
langchain-cli
pypdf
pymilvus
langchain_milvus